<template>
  <v-container class="SignIn">
    <div class="SignInContainer">
      <v-form class="loginForm">
          <h1>Zaloguj się</h1>
              <v-text-field dark
                      color = '#41b883'
                      border =  '#41b883'
                      class ="login"
                      v-model="email"
                      :rules="emailRules"
                      label="Adres e-mail"
                      required
                      outlined
                      autocomplete="off"
              ></v-text-field>
              <v-text-field dark
                      color = '#41b883'
                      type = 'password'
                      class="password"
                      v-model="password"
                      :rules="passwordRules"
                      label="Hasło"
                      required
                      outlined
              ></v-text-field>
        <v-btn class="btn" outlined color = '#41b883' dark x-large>Zaloguj</v-btn>
      </v-form>
    </div>

  </v-container>
</template>

<script>
export default {
  name: 'Zaloguj',

  data: () => ({
    email: '',
    emailRules: [
      v => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Adres jest niepoprawny'
    ],
    password: '',
    passwordRules: [
      v => !!v || 'To pole jest wymagane',
      v => /^(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*()_+-=])(?=.*[A-Z])(?!.*\s).{8,}$/.test(v) || 'Minimum 8 znaków w tym małe i wielkie litery oraz znaki specjalne'
    ],
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
$border-radius-root: 100px!important;
.SignIn{
  width: 100%;
  height: 100%;
  display: flex;
}
.SignInContainer{
  display: flex;
  margin: auto;
  height: 380px;
  width: 500px;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.btn{
  margin-bottom: 25px;
}
.login input,
.password input{
  color: #f7e6c8!important;
}

h1{
  text-align: center;
  font-weight: 100;
  margin-bottom: 25px;
}

</style>
