<template>

    <div class="FilterContainer">
      <div class="siteTitle"><h2>Filtruj</h2></div>
            <v-form class="filterForm">
              <v-text-field dark
                      color = '#41b883'
                      border =  '#41b883'
                      class ="bookTitle"
                      v-model="bookTitle"
                      label="Tytuł"
                      outlined
                      autocomplete="off"
              ></v-text-field>
              <v-text-field dark
                      color = '#41b883'
                      border =  '#41b883'
                      class ="bookAuthor"
                      v-model="bookAuthor"
                      label="Autor"
                      outlined
                      autocomplete="off"
              ></v-text-field>
              <v-text-field dark
                      color = '#41b883'
                      border =  '#41b883'
                      class ="publishingHouse"
                      v-model="publishingHouse"
                      label="Wydawnictwo"
                      outlined
                      autocomplete="off"
              ></v-text-field>
              <v-select dark
                      :items="items"
                      label="Gatunek"
                      border =  '#41b883'
                      outlined
              ></v-select>

        <v-btn class="btn" outlined color = '#41b883' dark x-large>Szukaj</v-btn>
      </v-form>
    </div>

</template>

<script>
export default {
  name: 'BookBaseFilterComponent',
  data: () => ({
    bookAuthor: '',
    bookTitle: '',
    publishingHouse: '',
    items: ["Dramat", "Kryminał", "Komedia", "Romans"]
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
.FilterContainer{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: fit-content;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);

  h1{
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 40px;
  }
  .bookTitle input,
  .bookAuthor input{
  color: #f7e6c8!important;
  }
    .siteTitle{
        width: 100%;
        height: 50px;
        background: #2a2933;
        display: flex;
        h2{
          margin: auto;
        }
     }
  .filterForm{
    margin: 0 auto ;
    padding: 30px;
    width: 90%;
    .btn{
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

</style>
