<template>
    <div class="BookBaseContainer BookBaseContainerSecond">
      <div v-for="item of books" :key="item.title" class="SmallContainer" @click="selectBook()">
          <v-img
            :src="require('../assets/testBook.jpg')"
            class="bookSmall"
            contain
            height="200"

          />
          <div class="bookTitle">{{item.title}}</div>
          <div class="bookTitle">{{item.author}}</div>
      </div>
        <!-- <div v-for="item of books" :key="item.title" class="SmallContainerBigger" @click="selectBook()">
          <div class="imgContainer">
            <v-img
              :src="require('../assets/testBook.jpg')"
              class="bookSmallBigger"
              contain
              height="230"
              width="200"
            />
          </div>

            <div class="textContent">
              <div class="bookTitleBigger bookTile">{{item.title}}</div>
              <div class="lessImportantInfo">
                <div class="lessImportantInfoColumn">
                  <div class="bookInfo"><p> Autor: {{item.author}}</p></div>
                  <div class="bookInfo"><p>Wydawnictwo: {{item.publishingHouse}}</p></div>
                  <div class="bookInfo"><p>Premiera: {{item.premiere}}</p></div>
                </div>
                <div class="lessImportantInfoColumn">
                  <div class="bookInfo"><p>Liczba stron: {{item.numberOfPages}}</p></div>
                  <div class="bookInfo"><p>Liczba ocen: {{item.numberOfRatings}}</p></div>
                  <div class="bookInfo"><p>Ocena: {{item.rate}}</p></div>
                </div>
              </div>
            </div>
          </div> -->
    </div>
</template>

<script>
export default {
  name: 'Zaloguj',
  data: () => ({
    books:[
      {
        title: "Dylemat",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat2",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat3",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat4",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat5",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat6",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat7",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat8",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
      {
        title: "Dylemat9",
        author: "B. A. Paris",
        img:'../assets/testBook.jpg',
        publishingHouse: "Albatros",
        numberOfPages: 355,
        premiere: "19.02.2020",
        numberOfRatings: 200,
        rate: 4,
      },
    ]
  }),
  methods: {
    selectBook() {
      this.$router.push({name: 'Book'});
      // this.$router.push({name: 'book', params: {Rid: recipeId}});
    },
  },
        //   created() {
        //     this.axios.get('Recipe/Accept?PageSize=' + 9 + '&Page=' + this.page).then((resp) => {
        //         this.recipes = resp.data;
        //     }).catch((resp) => {
        //     });
        // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
.BookBaseContainer{
  //display: block;
  flex-wrap: wrap;
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  margin: auto 10px;
  min-height: 554px;
  height: fit-content;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);

   .SmallContainer{
    margin: 10px;
    padding: 10px;
    height: fit-content;
    transition: 0.3s;
    .bookSmall{
      margin: 5px 10px 10px 10px ;
    }
   }
  .SmallContainer:hover{
    cursor: pointer;
    background: #5d5d5d;
  }
}
// .SmallContainerBigger{
//   display: flex;
//   height: 250px;
//   .imgContainer{
//     margin: auto 0;
//     .v-image__image{
//       width: 135px;
//     }
//   }
//   .textContent{
//     width: 100%;
//     display: block;
//     margin: auto 0;
//     .bookTitleBigger{
//       text-align: start;
//       p{
//         margin: 0;
//       }

//     }
//     .bookTile{
//       font-size: 30px;
//       text-transform: uppercase;
//       margin-bottom: 10px;
//     }
//   }
//   .lessImportantInfo{
//     display: flex;
//     .lessImportantInfoColumn{
//       width: 50%;
//       .bookInfo{
//         text-align: start;
//         p{
//         margin: 5px;
//         }
//       }
//     }


//   }
// }
// .BookBaseContainerSecond{
//     padding: 10px 20px;
// }
</style>
