<template>
  <div class="BookContainer">
    <div class="mainInfoContainer">
      <div class="BookMainInfo">
        <div class="BookMainPhoto">
          <v-img
          :src="require('../assets/testBook.jpg')"
          class="bookSmall"
          contain
          height="350"
        />
        </div>
      </div>
      <div class="textInfo">
        <div><h1>{{book.title}}</h1></div>
        <div><p>Autor: {{book.author}}</p></div>
        <div><p>Wydawnictwo: {{book.publishingHouse}}</p></div>
        <div><p>Gatunek: {{book.type}}</p></div>
        <div><p>Premiera: {{book.premiere}}</p></div>
        <div><p>Liczba stron: {{book.numberOfPages}}</p></div>
        <div><p>Liczba ocen: {{book.numberOfRatings}}</p></div>
        <div><p>Ocena: {{book.rate}}</p></div>
          <v-rating
            v-model="rating"
            background-color="orange lighten-2"
            color="orange lighten-1"
          ></v-rating>
      </div>
    </div>
    <div class="actionButtons">
      <v-btn class="btn" outlined color = '#41b883' dark x-large>Dodaj do posiadanych</v-btn>
      <v-btn class="btn" outlined color = '#41b883' dark x-large>Dodaj do listy życzeń</v-btn>
      <v-btn class="btn" outlined color = '#41b883' dark x-large>Dodaj do przeczytanych</v-btn>
      <v-btn class="btn" outlined color = '#2d88ff' dark x-large>Udostępnij na facebooku</v-btn>
      <v-btn class="btn" outlined color = '#1DA1F2' dark x-large>Udostępnij na twitterze</v-btn>
    </div>
  </div>

</template>

<script>
export default {
  name: 'BookComponent',
  data: () => ({
    rating: 4,
    book:{
      title: "DYLEMAT",
      author: "B. A. Paris",
      publishingHouse: "Albatros",
      type: "Kryminał",
      numberOfPages: 355,
      premiere: "19.02.2020",
      numberOfRatings: 200,
      rate: 4,
      bookDescription: 'Jak daleko się posuniesz, by zapewnić osobie, którą kochasz kilka dodatkowych godzin szczęścia? Czterdzieste urodziny Livii zapowiadają się wyjątkowo hucznie, o wiele bardziej spektakularnie, niż mogłoby wyglądać jej wesele, którego zresztą nigdy nie miała… Na przyjęciu zjawią się wszyscy, na których jej zależy, za wyjątkiem córki, Marnie, która studiuje zagranicą. I chociaż Livia kocha Marnie, skrycie cieszy się, że jej nie będzie. Gdy tylko przyjęcie się skończy, Livia zamierza wyjawić swojemu mężowi, Adamowi, sekret dotyczący Marnie. Na razie jednak chce cieszyć się szczęśliwymi chwilami z rodziną. Adam chce, żeby przyjęcie Livii było idealne, dlatego w tajemnicy planuje sprowadzić Marnie do domu. To ma być jego wielka urodzinowa niespodzianka. I wtedy dowiaduje się o czymś strasznym… Musi powiedzieć Livii. Ale jak mógłby zepsuć jej ten dzień – jest taka szczęśliwa, a goście już zaczęli się schodzić… Nowa, zaskakująca powieść autorki bestsellerów „Za zamkniętymi drzwiami” oraz „Na skraju załamania”'
    }
  }),

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">

  .BookContainer{
    width: 100%;
     flex-wrap: wrap;
     display: flex;
     justify-content: space-between;
    // padding: 10px 40px;
    // margin: auto ;
    // min-height: 450px;
    // height: fit-content;
    // background: #4a4a4a;

    .mainInfoContainer{
      display: flex;
      margin:10px 20px
    }
    .textInfo{
      text-align: start;
      margin: 0 40px;
      p{
        margin-bottom: 12px;
      }
      .v-rating{
        position: relative;
        bottom: 10px;
        right: 10px;
      }
    }
    .actionButtons{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      button{
        margin:9.5px 20px
      }
    }
    h1{
      margin-bottom: 20px;
    }
  }

</style>
