<template>
 <v-container class="ContactContainer">
   <h1>Kontakt</h1>
   <div class="contactContent">
    <div class="contactItem">
      <svg class="svgFile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19.07 13.88L13 19.94V22H15.06L21.12 15.93M22.7 13.58L21.42 12.3C21.32 12.19 21.18 12.13 21.04 12.13C20.89 12.14 20.75 12.19 20.65 12.3L19.65 13.3L21.7 15.3L22.7 14.3C22.89 14.1 22.89 13.78 22.7 13.58M11 18H4V8L12 13L20 8V10H22V6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H11V18M20 6L12 11L4 6H20Z" /></svg>
      <div>Krzysztof.brak95@gmail.com</div>
    </div>
    <div class="contactItem">
        <svg class="svgFile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" /></svg>
        <a href="https://www.linkedin.com/in/krzysztof-brak" target="_blank">www.linkedin.com/in/krzysztof-brak</a>
    </div>
   </div>
 </v-container>
</template>

<script>
export default {
  name: 'ContactComponent',


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped lang="scss">

.ContactContainer{
  padding: 25px;
  margin: auto;
  height: fit-content;
  width: 500px;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  h1{
    text-align: center;
    margin-bottom: 40px;
  }
  .contactContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .contactItem{
      display: flex;
      margin: 10px auto;

      .svgFile{
        fill:#f7e6c8;
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
      a{
        text-decoration: none;
        color:#f7e6c8;
        transition: 0.3s;
        font-size: 20px;
      }
      a:hover{
        color: #41b883;
      }
      div{
        font-size: 20px;
      }
    }
  }

}


</style>
