<template>
 <div class="footerContainer">
     <p>© Copyright 2020 — twoja-ksiazka.pl - Krzysztof Brak — All Rights Reserved</p>
 </div>
</template>

<script>
export default {
  name: 'FooterComponent',

  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped>
.footerContainer{
  height: 100px;
  background: #2a2933;
  display: flex;
  margin-top: 100px;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
}

.v-application p {
    margin-bottom: 0px;
    margin: auto;
}
</style>
