<template>
 <div class="headerContainer">
   <div class="siteTitle">
      <router-link :to="{name: 'Home'}" tag="span"><h1>Twoja książka!</h1></router-link>
   </div>

    <!-- <NavbarComponent/> -->
 </div>
</template>

<script>
// import NavbarComponent from './NavbarComponent'
// import axios from 'axios'
// import VueAxios from 'vue-axios'
export default {
  name: 'Header',
  components: {
  //  NavbarComponent
  },
  data: () => ({
    info: ''
  }),
  mounted(){

  }


}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped lang="scss">
.siteTitle{
  height: 150px;
  display: flex;
  span{
    margin: auto 0px;
    cursor: pointer;
  }
}
.headerContainer{
    background: rgb(53, 53, 53)!important;
  color: #f7e6c8;
}
h1{
 font-size: 50px;
 margin: auto 55px;
}
</style>
