<template>
  <v-container>
        <v-card>
          <v-tabs
            grow
            v-model="tab"
            background-color="#2a2933"
            slider-color="#41b883"
            color="#f7e6c8"
            dark
          >
            <v-tab
              v-for="item in items"
              :key="item.tab"
            >{{ item.tab }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab"
            color="#f7e6c8"
            dark>
            <v-tab-item
              v-for="item in items"
              :key="item.tab"
            >
              <v-card class="BooksContainerInMainPage" flat>
                  <BookBaseComponent/>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
  </v-container>
</template>

<script>
import BookBaseComponent from '@/components/BookBaseComponent.vue'

export default {

  name: 'MainPageComponent',
  components:{
    BookBaseComponent
  },
  data: () => ({
    tab: null,
      items: [
        { tab: 'Posiadane', content: 'Tab 1 Content' },
        { tab: 'Chcę przeczytać', content: 'Tab 2 Content' },
        { tab: 'Przeczytane', content: 'Tab 3 Content' },
        { tab: 'Ulubione', content: 'Tab 4 Content' },
      ],
  })
}
</script>
<style scoped lang="scss">
.v-tab--active{
  color:#41b883!important;
}
.v-card__text{
  background-color:#4a4a4a;
}
.theme--light.v-card{
  background: #2a2933;

}
.v-card > *:last-child:not(.v-btn):not(.v-chip){
  border-radius: 0px;
}
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon, .theme--dark.v-tabs > .v-tabs-bar .v-tab--disabled,
.v-card__text{
  color:#f7e6c8!important;
}
.BooksContainerInMainPage > .BookBaseContainer{
  margin: auto;
}
</style>