<template>
 <div class="NavbarContainer">
   <ul class="navbar">
      <router-link :to="{name: 'Home'}" tag="span"><li>Strona główna</li></router-link>
      <router-link :to="{name: 'BookBaseView'}" tag="span"><li>Baza książek</li></router-link>
      <router-link :to="{name: 'ContactView'}" tag="span"><li>Kontakt</li></router-link>
   </ul>
   <ul class="navbar theme">
     <li>Motyw</li>
   </ul>
 </div>
</template>

<script>
export default {
  name: 'NavbarComponent',

  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style  scoped>
.NavbarContainer{
  width: 100%;
  height: 50px;
  background: #2a2933;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
}
.navbar{
  list-style-type: none;
  display: flex;
}
.theme{
  margin-right: 20px
}
.navbar li{
  padding: 12px;
  border: 1px solid #2a2933;
  transition: 0.3s;
  width: 150px;
}
.navbar li:hover{
  cursor:pointer;
  border: 1px solid #41b883;
  color:#41b883;
  border-radius: 4px;
}
</style>
