<template>
  <nav class="navbar navbar-expand-lg NavbarContainer ">

      <!-- <router-link :to="{ name: user ? 'home' : 'welcome' }" class="navbar-brand">
        {{ appName }}
      </router-link> -->

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
        <span class="navbar-toggler-icon" />
      </button> -->

      <div id="navbarToggler" class="collapse navbar-collapse ">
         <ul class="navbar-nav navbarCustom">
            <router-link :to="{name: 'Home'}" tag="span"><li>Strona główna</li></router-link>
            <router-link :to="{name: 'BookBaseView'}" tag="span"><li>Baza książek</li></router-link>
            <router-link :to="{name: 'ContactView'}" tag="span"><li>Kontakt</li></router-link>
          <!-- <locale-dropdown />
           <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto navbarRight">
          <!-- Authenticated -->
          <li v-if="user" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"
               href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >
              <img :src="user.photo_url" class="rounded-circle profile-photo mr-1">
              {{ user.name }}
            </a>
            <div class="dropdown-menu">
              <router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">
                <fa icon="cog" fixed-width />
                {{ $t('settings') }}
              </router-link>

              <div class="dropdown-divider" />
              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width />
                {{ $t('logout') }}
              </a>
            </div>
          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <router-link :to="{ name: 'login' }" class="nav-link" active-class="active">
                {{ $t('login') }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'register' }" class="nav-link" active-class="active">
                {{ $t('register') }}
              </router-link>
            </li>
          </template>
        </ul>
      </div>

  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped lang="scss">
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}
.NavbarContainer{
  width: 100%;
  height: 50px;
  background: #2a2933;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  display: flex;
  justify-content: space-between;
}
.navbarCustom{
  list-style-type: none;
  display: flex;
  box-shadow: none;
  li{
      color: #f7e6c8;
  }
}
.theme{
  margin-right: 20px
}
.navbarCustom li{
  padding: 12px;
  border: 1px solid #2a2933;
  transition: 0.3s;
  width: 150px;
}
.navbarCustom li:hover,
.navbarRight li a:hover{
  cursor:pointer;
  border: 1px solid #41b883;
  color:#41b883;
  border-radius: 4px;
}
.navbarRight{
  li{
    transition: 0.3s;
    color:#41b883;
    a{
        padding: 12px;
      border: 1px solid #2a2933;
      transition: 0.3s;
      width: 150px;
      color: #f7e6c8!important;
      &:hover{
        color:#41b883!important;
      }
    }
  }
}
.nav-link{
  padding: 0;
}
.navbar{
  font-weight: 100;
}
.dropdown-menu{
    background: #2a2933;
    padding: 0;
    width: 150px;
    min-width: 150px;
    margin: 0;
    border-top: none!important;
    .dropdown-divider{
      display: none;
    }
    .dropdown-item{
      transition: 0.3s;
    }
    .dropdown-item:hover, .dropdown-item:focus{
          background: transparent;
    }
}
</style>
