<template>
  <div class="Register">
    <div class="RegisterInContainer">

        <v-form class="RegisterForm">
                <h1>Zarejestruj się</h1>
                <v-text-field dark
                        color = '#41b883'
                        class ="login"
                        v-model="email"
                        :rules="emailRules"
                        label="Adres e-mail"
                        required
                        outlined
                        autocomplete="off"
                ></v-text-field>
                <v-text-field dark
                        color = '#41b883'
                        class ="login"
                        v-model="userName"

                        label="Nazwa użytkownika"
                        required
                        outlined
                        autocomplete="off"
                ></v-text-field>
                <v-text-field dark
                        color = '#41b883'
                        type = 'password'
                        class="password"
                        v-model="password"
                        :rules="passwordRules"
                        label="Hasło"
                        required
                        outlined
                ></v-text-field>
                <v-text-field dark
                        color = '#41b883'
                        type = 'password'
                        class="password"
                        v-model="repeatPassword"
                        :rules="repeatPasswordRules"
                        label="Powtórz hasło"
                        required
                        outlined
                ></v-text-field>

          <v-btn class="btn" outlined color = '#41b883' dark x-large>Zarejestruj się</v-btn>
        </v-form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegisterComponent',
  data: () => ({
    email: '',
    userName:'',
    password: '',
    passwordRules: [
      v => !!v || 'To pole jest wymagane',
      v => /^(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*()_+-=])(?=.*[A-Z])(?!.*\s).{8,}$/.test(v) || 'Minimum 8 znaków w tym małe i wielkie litery oraz znaki specjalne'
    ],
    repeatPassword: ''
  }),
  computed: {
    repeatPasswordRules(){
      if (!this.repeatPassword) return ['To pole jest wymagane'];
      if (this.repeatPassword !== this.password) return ['Hasła się nie zgadzają'];
    },
    emailRules() {
      if (!this.email) return ['To pole jest wymagane'];
      if (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email) === false) return ['Adres jest niepoprawny']
      if (this.emailVal === false) return ['Podany adres e-mail jest juz zajęty!']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  scoped>
.Register{
  width: 100%;
  height: 100%;
  display: flex;

}
.RegisterInContainer{
  margin: auto;
  height: fit-content;
  margin: auto;
  width: 500px;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
}

.RegisterForm{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 25px 0;
}
.btn{
  margin-bottom: 25px;
}
h1{
  text-align: center;
}
</style>
