<template>
  <div class="container margin-top">
    <div class="siteTitle"><h2>Twoje recenzje:</h2></div>
    <div v-for="item of books" :key="item.title" class="onePosition">
      <div class="reviewBaseContainer">
            <div  class="reviewSmallContainer" @click="selectBook()">
          <v-img
            :src="require('../assets/testBook.jpg')"
            class="bookSmall"
            contain
            height="80"
          />
          <div class="bookTitleInfo">
            <div class="bookTitle">{{item.title}}</div>
            <div class="bookReview">{{item.text}}</div>
          </div>

          <v-rating
            v-model="item.rate"
            background-color="orange lighten-2"
            color="orange lighten-1"
          ></v-rating>
        </div>
        <v-divider light></v-divider>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'YourReviewsComponent',
  data: () => ({
    books:[
      {
        title: "Dylemat ",
        img:'../assets/testBook.jpg',
        rate: 4,
        text: 'Mąż i żona. Ze swoimi decyzjami i sekretami. A wszystkie ujrzą światło dzienne już za kilka godzin. Po “Dylemat” sięgnęłam niedługo przed pójściem spać. A przynajmniej tak mi się wówczas wydawało. W rzeczywistości książka zaintrygowała mnie na tyle, że nie miałam chęci odłożyć jej przez kilka kolejnych godzin. Choć daleko jej do klasycznego thrillera, to temat jest tak interesujący i tak lekko przekazany, że jej lektura sprawia czystą przyjemność. Nowa powieść Paris wywołuje uczucie zaciekawienia już od pierwszych stron. Autorka daje czytelnikowi do zrozumienia, że główni bohaterzy mają swoje sekrety i wcale nie spieszy się z ich ujawnieniem. Taki zabieg sprawił, że cały czas podążałam za nią z uwagą i skupieniem, usiłując zrozumieć, co miała na myśli. I nawet, kiedy już się dowiedziałam, to nie zmniejszyło ani trochę mojej sympatii dla tej książki. Bo potem akcja przeszła na zupełnie inny tor. Choć zupełnie nie mogłam się tego spodziewać, nowa powieść Paris wywołała we mnie duże wzruszenie. Rozwój książkowych wydarzeń doprowadził do momentu, kiedy poczułam smutek i melancholię. Bardzo przykro zrobiło mi się z powodu tego, co spotkało bohaterów, a muszę Wam powiedzieć, że autorka wcale ich nie oszczędziła. Z „Dylematu” zrobił się wielki dramat, a z takim nie miałam do czynienia już dawno. Zazwyczaj chętnie mówię o swoim niezadowoleniu, kiedy thriller okazuje się thrillerem nie być. Nie jestem pewna, jak dokładnie było tutaj i czy rzeczywiście nad tymi kwestiami warto debatować. Nawet jeśli nie znalazłam bowiem wszystkich elementów, których obecności można by się było w takiej mroczniejszej historii spodziewać, to i tak książka zrobiła na mnie wielkie wrażenie. Dawno już podczas lektury nie poczułam tak mocnych emocji. I okazuje się, że to wystarczy. Nie trzeba mi więcej napięcia, jeśli mam szansę zastąpić je głębszą refleksją i pewną uczuciowością, które sprawiają, że i łezka w oku może się pojawić. Mimo że „Dylemat” opowiada o rzeczach niełatwych i nieprzyjemnych, to czyta się go zaskakująco dobrze. Paris ma świetny styl i z tym stwierdzeniem nawet nie wypada dyskutować. Potrafi zaciekawić czytelnika i zatrzymać go przy lekturze. Nie tylko za sprawą tematu, ale także lekkiego pióra. Autorka pisze przyjemnie, narracja prowadzona jest subtelnie, całość wypada niezwykle zgrabnie. Szczególnie przy takim podziale rozdziałów między dwoje bohaterów. „Dylemat” to także świetne charakterystyki postaci i możliwość przekonania się, jak ludzie reagują w ekstremalnych sytuacjach. Ani razu nie czułam, by ta historia była nieprawdopodobna czy naciągana. Nie, właśnie takich reakcji i emocji się spodziewałam i na takich bohaterów liczyłam. Pierwszoosobowa narracja pozwala dodatkowo zrozumieć motywacje i decyzje przez nich podjęte. Śledząc kolejne rozdziały odnosimy wrażenie, jakbyśmy poznawali strony osobistego dziennika. Nowa powieść Paris zrobiła na mnie wyjątkowe wrażenie. Do tej pory uważałam, że na największe uznanie zasługuje jej debiut- „Za zamkniętymi drzwiami”, ale teraz się waham, która z tych książek tak naprawdę jest lepsza. Obydwie Wam szczerze polecam.'
      },
      {
        title: "Dylemat2",
        img:'../assets/testBook.jpg',
        rate: 3,
        text: 'Bardzo nie lubię kiedy ktoś ocenia książki B.A.Paris jako thrillery. To nie jest thriller, a thriller psychologiczny. Autorka, mimo bardzo lekkiego pióra, poruszyła temat trudny i bolesny. Ukrywanie prawdy, aby nie skrzywdzić bliskiej osoby. Ukazała cały wachlarz emocji, wewnętrzne rozdarcie bohaterów i próbę poradzenia sobie z tym co się zdarzyło. O czym jest "Dylemat", czyli czwarta wydana w Polsce książka B.A.Paris? Olivia i Adam są małżeństwem. Mają dwójkę cudownych dzieci, z których są dumni, jednakże jedno z nich, ich córka Marnie przebywa w Hongkongu, gdzie wyjechała na studia. Olivia jest w trakcie przygotowań do swoich czterdziestych urodzin. Planowała ten dzień od wielu lat i musi być idealny. Adam, aby zrobić jej niespodziankę kupuje bilet dla Marnie do domu, ale Olivia nie chce, aby Marnie przyjechała. Tylko dlaczego? Powieść utrzymana jest w napięciu, które narasta wraz z postępem fabuły, a czytelnik czeka na jakiekolwiek rozwiązanie problemu. Ochrona bliskiej osoby stała się tak ważna dla małżonków, że wzięli na siebie całą odpowiedzialność za sekret, którego nie chcą zdradzić drugiej osobie aż do zakończenia przyjecia. Czy wymarzone urodziny Livii będą dla niej tak cudowne jak zawsze o tym marzyła?'
      },
      {
        title: "Dylemat3",
        img:'../assets/testBook.jpg',
        rate: 5,
        text: 'Mąż i żona. Ze swoimi decyzjami i sekretami. A wszystkie ujrzą światło dzienne już za kilka godzin. Po “Dylemat” sięgnęłam niedługo przed pójściem spać. A przynajmniej tak mi się wówczas wydawało. W rzeczywistości książka zaintrygowała mnie na tyle, że nie miałam chęci odłożyć jej przez kilka kolejnych godzin. Choć daleko jej do klasycznego thrillera, to temat jest tak interesujący i tak lekko przekazany, że jej lektura sprawia czystą przyjemność. Nowa powieść Paris wywołuje uczucie zaciekawienia już od pierwszych stron. Autorka daje czytelnikowi do zrozumienia, że główni bohaterzy mają swoje sekrety i wcale nie spieszy się z ich ujawnieniem. Taki zabieg sprawił, że cały czas podążałam za nią z uwagą i skupieniem, usiłując zrozumieć, co miała na myśli. I nawet, kiedy już się dowiedziałam, to nie zmniejszyło ani trochę mojej sympatii dla tej książki. Bo potem akcja przeszła na zupełnie inny tor. Choć zupełnie nie mogłam się tego spodziewać, nowa powieść Paris wywołała we mnie duże wzruszenie. Rozwój książkowych wydarzeń doprowadził do momentu, kiedy poczułam smutek i melancholię. Bardzo przykro zrobiło mi się z powodu tego, co spotkało bohaterów, a muszę Wam powiedzieć, że autorka wcale ich nie oszczędziła. Z „Dylematu” zrobił się wielki dramat, a z takim nie miałam do czynienia już dawno. Zazwyczaj chętnie mówię o swoim niezadowoleniu, kiedy thriller okazuje się thrillerem nie być. Nie jestem pewna, jak dokładnie było tutaj i czy rzeczywiście nad tymi kwestiami warto debatować. Nawet jeśli nie znalazłam bowiem wszystkich elementów, których obecności można by się było w takiej mroczniejszej historii spodziewać, to i tak książka zrobiła na mnie wielkie wrażenie. Dawno już podczas lektury nie poczułam tak mocnych emocji. I okazuje się, że to wystarczy. Nie trzeba mi więcej napięcia, jeśli mam szansę zastąpić je głębszą refleksją i pewną uczuciowością, które sprawiają, że i łezka w oku może się pojawić. Mimo że „Dylemat” opowiada o rzeczach niełatwych i nieprzyjemnych, to czyta się go zaskakująco dobrze. Paris ma świetny styl i z tym stwierdzeniem nawet nie wypada dyskutować. Potrafi zaciekawić czytelnika i zatrzymać go przy lekturze. Nie tylko za sprawą tematu, ale także lekkiego pióra. Autorka pisze przyjemnie, narracja prowadzona jest subtelnie, całość wypada niezwykle zgrabnie. Szczególnie przy takim podziale rozdziałów między dwoje bohaterów. „Dylemat” to także świetne charakterystyki postaci i możliwość przekonania się, jak ludzie reagują w ekstremalnych sytuacjach. Ani razu nie czułam, by ta historia była nieprawdopodobna czy naciągana. Nie, właśnie takich reakcji i emocji się spodziewałam i na takich bohaterów liczyłam. Pierwszoosobowa narracja pozwala dodatkowo zrozumieć motywacje i decyzje przez nich podjęte. Śledząc kolejne rozdziały odnosimy wrażenie, jakbyśmy poznawali strony osobistego dziennika. Nowa powieść Paris zrobiła na mnie wyjątkowe wrażenie. Do tej pory uważałam, że na największe uznanie zasługuje jej debiut- „Za zamkniętymi drzwiami”, ale teraz się waham, która z tych książek tak naprawdę jest lepsza. Obydwie Wam szczerze polecam.'
      },
      {
        title: "Dylemat4",
        img:'../assets/testBook.jpg',
        rate: 2,
        text: 'Bardzo nie lubię kiedy ktoś ocenia książki B.A.Paris jako thrillery. To nie jest thriller, a thriller psychologiczny. Autorka, mimo bardzo lekkiego pióra, poruszyła temat trudny i bolesny. Ukrywanie prawdy, aby nie skrzywdzić bliskiej osoby. Ukazała cały wachlarz emocji, wewnętrzne rozdarcie bohaterów i próbę poradzenia sobie z tym co się zdarzyło. O czym jest "Dylemat", czyli czwarta wydana w Polsce książka B.A.Paris? Olivia i Adam są małżeństwem. Mają dwójkę cudownych dzieci, z których są dumni, jednakże jedno z nich, ich córka Marnie przebywa w Hongkongu, gdzie wyjechała na studia. Olivia jest w trakcie przygotowań do swoich czterdziestych urodzin. Planowała ten dzień od wielu lat i musi być idealny. Adam, aby zrobić jej niespodziankę kupuje bilet dla Marnie do domu, ale Olivia nie chce, aby Marnie przyjechała. Tylko dlaczego? Powieść utrzymana jest w napięciu, które narasta wraz z postępem fabuły, a czytelnik czeka na jakiekolwiek rozwiązanie problemu. Ochrona bliskiej osoby stała się tak ważna dla małżonków, że wzięli na siebie całą odpowiedzialność za sekret, którego nie chcą zdradzić drugiej osobie aż do zakończenia przyjecia. Czy wymarzone urodziny Livii będą dla niej tak cudowne jak zawsze o tym marzyła?'
      },
      {
        title: "Dylemat5",
        img:'../assets/testBook.jpg',
        rate: 4,
        text: 'Macie dylemat jeśli chodzi o „Dylemat”?🙈😂 Szczerze mówiąc się zawiodłam. Szczególnie że opis bardzo mnie zachęcił, a okładka jak zwykle zresztą u Wydawnictwa Albatros jest po prostu cudowna. Wiem, że paru z was twierdzi, że ta książka to bardzo ciekawa lekcja psychologii. Ale dla mnie była po prostu nudna. Naprawdę mało się działo. Chociaż muszę przyznać, że bardzo polubiłam głównych bohaterów i mimo iż spodziewałam się czegoś dużo lepszego to właśnie dzięki nim ją skończyłam. Livia swoje przyjęcie urodzinowe planowała przez wiele lat. Odkładała na ten cel i marzyła jak piękny to będzie dzień. Będą niemal wszyscy... zabraknie tylko córki, która nie zdoła wrócić ze studiów. Co najciekawsze matka jest niemal szczęśliwa, że Marnie nie dojedzie. I wtedy zastanawiamy się dlaczego? Livie boli także to, że po przyjęciu będzie musiała zdradzić mężowi pewną tajemnicę, która zrujnuje ich rodzinę. Adam, zrobi wszystko aby impreza urodzinowa jego ukochanej żony wypaliła. Dlatego razem z córką obmyślili wspaniałą niespodziankę. Dziewczyna ma jednak pojawić się na imprezie. Gdy przed przyjęciem ojciec dowiaduje się o katastrofie samolotu, którym być może leciała wmawia sobie że to niemożliwe. Odkłada te myśli na bok i próbuje się cieszyć z być może ostatniego szczęśliwego dnia w ich życiu. W tej książce autorka zadaje nam bardzo ważne pytanie. Co jesteśmy w stanie zrobić aby osoby które kochamy były szczęśliwe?'
      },
      {
        title: "Dylemat6",
        img:'../assets/testBook.jpg',
        rate: 5,
        text: 'Mąż i żona. Ze swoimi decyzjami i sekretami. A wszystkie ujrzą światło dzienne już za kilka godzin. Po “Dylemat” sięgnęłam niedługo przed pójściem spać. A przynajmniej tak mi się wówczas wydawało. W rzeczywistości książka zaintrygowała mnie na tyle, że nie miałam chęci odłożyć jej przez kilka kolejnych godzin. Choć daleko jej do klasycznego thrillera, to temat jest tak interesujący i tak lekko przekazany, że jej lektura sprawia czystą przyjemność. Nowa powieść Paris wywołuje uczucie zaciekawienia już od pierwszych stron. Autorka daje czytelnikowi do zrozumienia, że główni bohaterzy mają swoje sekrety i wcale nie spieszy się z ich ujawnieniem. Taki zabieg sprawił, że cały czas podążałam za nią z uwagą i skupieniem, usiłując zrozumieć, co miała na myśli. I nawet, kiedy już się dowiedziałam, to nie zmniejszyło ani trochę mojej sympatii dla tej książki. Bo potem akcja przeszła na zupełnie inny tor. Choć zupełnie nie mogłam się tego spodziewać, nowa powieść Paris wywołała we mnie duże wzruszenie. Rozwój książkowych wydarzeń doprowadził do momentu, kiedy poczułam smutek i melancholię. Bardzo przykro zrobiło mi się z powodu tego, co spotkało bohaterów, a muszę Wam powiedzieć, że autorka wcale ich nie oszczędziła. Z „Dylematu” zrobił się wielki dramat, a z takim nie miałam do czynienia już dawno. Zazwyczaj chętnie mówię o swoim niezadowoleniu, kiedy thriller okazuje się thrillerem nie być. Nie jestem pewna, jak dokładnie było tutaj i czy rzeczywiście nad tymi kwestiami warto debatować. Nawet jeśli nie znalazłam bowiem wszystkich elementów, których obecności można by się było w takiej mroczniejszej historii spodziewać, to i tak książka zrobiła na mnie wielkie wrażenie. Dawno już podczas lektury nie poczułam tak mocnych emocji. I okazuje się, że to wystarczy. Nie trzeba mi więcej napięcia, jeśli mam szansę zastąpić je głębszą refleksją i pewną uczuciowością, które sprawiają, że i łezka w oku może się pojawić. Mimo że „Dylemat” opowiada o rzeczach niełatwych i nieprzyjemnych, to czyta się go zaskakująco dobrze. Paris ma świetny styl i z tym stwierdzeniem nawet nie wypada dyskutować. Potrafi zaciekawić czytelnika i zatrzymać go przy lekturze. Nie tylko za sprawą tematu, ale także lekkiego pióra. Autorka pisze przyjemnie, narracja prowadzona jest subtelnie, całość wypada niezwykle zgrabnie. Szczególnie przy takim podziale rozdziałów między dwoje bohaterów. „Dylemat” to także świetne charakterystyki postaci i możliwość przekonania się, jak ludzie reagują w ekstremalnych sytuacjach. Ani razu nie czułam, by ta historia była nieprawdopodobna czy naciągana. Nie, właśnie takich reakcji i emocji się spodziewałam i na takich bohaterów liczyłam. Pierwszoosobowa narracja pozwala dodatkowo zrozumieć motywacje i decyzje przez nich podjęte. Śledząc kolejne rozdziały odnosimy wrażenie, jakbyśmy poznawali strony osobistego dziennika. Nowa powieść Paris zrobiła na mnie wyjątkowe wrażenie. Do tej pory uważałam, że na największe uznanie zasługuje jej debiut- „Za zamkniętymi drzwiami”, ale teraz się waham, która z tych książek tak naprawdę jest lepsza. Obydwie Wam szczerze polecam.'
      },
      {
        title: "Dylemat7",
        img:'../assets/testBook.jpg',
        rate: 4,
        text: 'Bardzo nie lubię kiedy ktoś ocenia książki B.A.Paris jako thrillery. To nie jest thriller, a thriller psychologiczny. Autorka, mimo bardzo lekkiego pióra, poruszyła temat trudny i bolesny. Ukrywanie prawdy, aby nie skrzywdzić bliskiej osoby. Ukazała cały wachlarz emocji, wewnętrzne rozdarcie bohaterów i próbę poradzenia sobie z tym co się zdarzyło. O czym jest "Dylemat", czyli czwarta wydana w Polsce książka B.A.Paris? Olivia i Adam są małżeństwem. Mają dwójkę cudownych dzieci, z których są dumni, jednakże jedno z nich, ich córka Marnie przebywa w Hongkongu, gdzie wyjechała na studia. Olivia jest w trakcie przygotowań do swoich czterdziestych urodzin. Planowała ten dzień od wielu lat i musi być idealny. Adam, aby zrobić jej niespodziankę kupuje bilet dla Marnie do domu, ale Olivia nie chce, aby Marnie przyjechała. Tylko dlaczego? Powieść utrzymana jest w napięciu, które narasta wraz z postępem fabuły, a czytelnik czeka na jakiekolwiek rozwiązanie problemu. Ochrona bliskiej osoby stała się tak ważna dla małżonków, że wzięli na siebie całą odpowiedzialność za sekret, którego nie chcą zdradzić drugiej osobie aż do zakończenia przyjecia. Czy wymarzone urodziny Livii będą dla niej tak cudowne jak zawsze o tym marzyła?'
      },
      {
        title: "Dylemat8",
        img:'../assets/testBook.jpg',
        rate: 4,
        text: 'Macie dylemat jeśli chodzi o „Dylemat”?🙈😂 Szczerze mówiąc się zawiodłam. Szczególnie że opis bardzo mnie zachęcił, a okładka jak zwykle zresztą u Wydawnictwa Albatros jest po prostu cudowna. Wiem, że paru z was twierdzi, że ta książka to bardzo ciekawa lekcja psychologii. Ale dla mnie była po prostu nudna. Naprawdę mało się działo. Chociaż muszę przyznać, że bardzo polubiłam głównych bohaterów i mimo iż spodziewałam się czegoś dużo lepszego to właśnie dzięki nim ją skończyłam. Livia swoje przyjęcie urodzinowe planowała przez wiele lat. Odkładała na ten cel i marzyła jak piękny to będzie dzień. Będą niemal wszyscy... zabraknie tylko córki, która nie zdoła wrócić ze studiów. Co najciekawsze matka jest niemal szczęśliwa, że Marnie nie dojedzie. I wtedy zastanawiamy się dlaczego? Livie boli także to, że po przyjęciu będzie musiała zdradzić mężowi pewną tajemnicę, która zrujnuje ich rodzinę. Adam, zrobi wszystko aby impreza urodzinowa jego ukochanej żony wypaliła. Dlatego razem z córką obmyślili wspaniałą niespodziankę. Dziewczyna ma jednak pojawić się na imprezie. Gdy przed przyjęciem ojciec dowiaduje się o katastrofie samolotu, którym być może leciała wmawia sobie że to niemożliwe. Odkłada te myśli na bok i próbuje się cieszyć z być może ostatniego szczęśliwego dnia w ich życiu. W tej książce autorka zadaje nam bardzo ważne pytanie. Co jesteśmy w stanie zrobić aby osoby które kochamy były szczęśliwe?'
      },
      {
        title: "Dylemat9",
        img:'../assets/testBook.jpg',
        rate: 1,
        text: 'Bardzo nie lubię kiedy ktoś ocenia książki B.A.Paris jako thrillery. To nie jest thriller, a thriller psychologiczny. Autorka, mimo bardzo lekkiego pióra, poruszyła temat trudny i bolesny. Ukrywanie prawdy, aby nie skrzywdzić bliskiej osoby. Ukazała cały wachlarz emocji, wewnętrzne rozdarcie bohaterów i próbę poradzenia sobie z tym co się zdarzyło. O czym jest "Dylemat", czyli czwarta wydana w Polsce książka B.A.Paris? Olivia i Adam są małżeństwem. Mają dwójkę cudownych dzieci, z których są dumni, jednakże jedno z nich, ich córka Marnie przebywa w Hongkongu, gdzie wyjechała na studia. Olivia jest w trakcie przygotowań do swoich czterdziestych urodzin. Planowała ten dzień od wielu lat i musi być idealny. Adam, aby zrobić jej niespodziankę kupuje bilet dla Marnie do domu, ale Olivia nie chce, aby Marnie przyjechała. Tylko dlaczego? Powieść utrzymana jest w napięciu, które narasta wraz z postępem fabuły, a czytelnik czeka na jakiekolwiek rozwiązanie problemu. Ochrona bliskiej osoby stała się tak ważna dla małżonków, że wzięli na siebie całą odpowiedzialność za sekret, którego nie chcą zdradzić drugiej osobie aż do zakończenia przyjecia. Czy wymarzone urodziny Livii będą dla niej tak cudowne jak zawsze o tym marzyła?'
      },
    ]
  }),
  methods: {
    selectBook() {
      this.$router.push({name: 'Book'});
      // this.$router.push({name: 'book', params: {Rid: recipeId}});
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
     .siteTitle{
        height: 50px;
        background: #2a2933;
        display: flex;
        margin: auto;
        h2{
          margin: auto;
        }
     }
.reviewBaseContainer{
  display: block;
  padding: 10px 40px;
  justify-content: space-between;
  margin: auto;
  height: fit-content;
  background: #4a4a4a;
   .reviewSmallContainer{
    display: flex;
    height: fit-content;
    height: 100px;
    transition: 0.3s;
    .bookSmall{
      margin: auto;
      width: 80px;
    }
    .bookTitle{
      text-align: start;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .v-rating{
      margin: auto;
    }
    .bookReview{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-align: justify;
      text-overflow: ellipsis;
    }
   }
  .SmallContainer:hover{
    cursor: pointer;
    background: #5d5d5d;
  }
  .bookTitleInfo{
    margin: auto 10px;
  }
  hr{
    border-color: #f7e6c830;
  }

}
.margin-top{
    -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  margin-top: 50px;
}
  .onePosition:hover{
    cursor: pointer;
  }
</style>
