<template>
  <div class="basic-layout  align-items-center justify-content-center m-0 bg-white">
    <Header/>
        <navbar />
    <child />
<FooterComponent/>
  </div>
</template>

<script>
import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import FooterComponent from '~/components/FooterComponent'


export default {
  name: 'BasicLayout',

  components: {
    Navbar,
    Header,
    FooterComponent
  }
}
</script>

<style lang="scss">
.basic-layout {
  color: #636b6f;
  height: 100vh;
  font-weight: 100;
  position: relative;

  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
</style>
