<template>
  <div class="main-layout">
    <Header/>
        <navbar />
    <child />
<FooterComponent/>
  </div>
</template>

<script>
import Header from '~/components/Header'
import Navbar from '~/components/Navbar'
import FooterComponent from '~/components/FooterComponent'


export default {
  name: 'BasicLayout',

  components: {
    Navbar,
    Header,
    FooterComponent
  }
}
</script>
