<template>
  <v-container class="SignIn">
    <div class="SignInContainer">
      <v-form class="loginForm">
          <h1>{{ $t('login') }}</h1>
               <v-text-field dark
                      type="email"
                      name="email"
                      color = '#41b883'
                      border =  '#41b883'
                      class ="login form-control"
                      v-model="form.email"
                      label="Nazwa użytkownika"
                      :class="{ 'is-invalid': form.errors.has('email') }"
                      required
                      outlined
                      autocomplete="off"
              ></v-text-field>
              <has-error :form="form" field="email" />
              <v-text-field dark
                      color = '#41b883'
                      type = 'password'
                      class="password form-control"
                      v-model="form.password"
                      :class="{ 'is-invalid': form.errors.has('password') }"
                      :rules="passwordRules"
                      label="Hasło"
                      name="password"
                      required
                      outlined
              ></v-text-field>
              <has-error :form="form" field="password" />
        <!-- Remember Me -->
          <div class="form-group row">
            <div class="col-md-3" />
            <div class="col-md-7 d-flex">
              <checkbox v-model="remember" name="remember">
                {{ $t('remember_me') }}
              </checkbox>

              <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                {{ $t('forgot_password') }}
              </router-link>
            </div>
          </div>

        <v-btn class="btnCustom"  :loading="form.busy" outlined color = '#41b883' dark x-large @click="login"> {{ $t('login') }}</v-btn>
      </v-form>
    </div>
  </v-container>

</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    UserName:'',
    passwordRules: [
      v => !!v || 'To pole jest wymagane',
      v => /^(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*()_+-=])(?=.*[A-Z])(?!.*\s).{8,}$/.test(v) || 'Minimum 8 znaków w tym małe i wielkie litery oraz znaki specjalne'
    ],
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
<style  lang="scss">
$border-radius-root: 100px!important;
.SignIn{
      margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
}
.SignInContainer{
      padding: 30px;
  display: flex;
  margin: auto;
  height: fit-content;
  width: 500px;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.btnCustom{
  margin-bottom: 25px;
}
.login input,
.password input{
  color: #f7e6c8!important;
}

h1{
  text-align: center;
  font-weight: 100;
  margin-bottom: 25px;
}
.form-control{
  background-color: transparent!important;
  border:none;
  border-radius: none;
  height: fit-content;
}
.help-block{
      position: relative;
    bottom: 30px;
}
.form-group div:first-of-type{
  display: none;
}
.form-group > .d-flex{
  display: block!important;
  a{
    color: #41b883;
    position: relative;
    right: 54px;
    top: 5px;  }
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color: rgb(65, 184, 131);
    background-color: rgb(65, 184, 131);
}
.was-validated .form-control:invalid, .form-control.is-invalid{
  background: none;
  padding-right: 0;
}
</style>