<template>
  <div class="Register">
    <div class="RegisterInContainer">

        <v-form class="RegisterForm" >
                <h1>Zarejestruj się</h1>
                <v-text-field dark
                        color = '#41b883'
                        class ="login form-control"
                        v-model="form.email"
                        label="Adres e-mail"
                        required
                        outlined
                        autocomplete="off"
                        :class="{ 'is-invalid': form.errors.has('email') }"
                        type="email"
                        name="email"

                      border =  '#41b883'

                ></v-text-field>
                <has-error :form="form" field="email" />

                <v-text-field dark
                        color = '#41b883'
                        class ="login form-control"
                        v-model="form.name"
                        :class="{ 'is-invalid': form.errors.has('name') }"
                        label="Nazwa użytkownika"
                        required
                        type="text"
                        name="name"
                        outlined
                        autocomplete="off"
                ></v-text-field>

                <has-error :form="form" field="name" />

                <v-text-field dark
                        color = '#41b883'
                        type = 'password'
                        class="password form-control"
                        v-model="form.password"
                        label="Hasło"
                        required
                        outlined
                        :class="{ 'is-invalid':
                        form.errors.has('password') }"
                        name="password"
                ></v-text-field>
                <has-error :form="form" field="password" />

                <v-text-field dark
                        color = '#41b883'
                        type = 'password'
                        class="password form-control"
                        v-model="form.password_confirmation"
                        label="Powtórz hasło"
                        required
                        outlined
                        :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                        name="password_confirmation"
                ></v-text-field>
                <has-error :form="form" field="password_confirmation" />

                <v-button :loading="form.busy" id="realbutton">{{ $t('register') }}</v-button>
                <v-btn class="btn" outlined color = '#41b883' dark x-large @click="register"> {{ $t('register') }}</v-btn>
        </v-form>
    </div>

  </div>

</template>

<script>
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
    }),
    mustVerifyEmail: false,

    // passwordRules: [
    //   v => /^(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*()_+-=])(?=.*[A-Z])(?!.*\s).{8,}$/.test(v) || 'Minimum 8 znaków w tym małe i wielkie litery oraz znaki specjalne'
    // ],
  }),
  computed: {

    // repeatPasswordRules(){
    //   if (!this.repeatPassword) return ['To pole jest wymagane'];
    //   if (this.repeatPassword !== this.password) return ['Hasła się nie zgadzają'];
    // },
    // emailRules() {
    //   if (!this.email) return ['To pole jest wymagane'];
    //   if (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email) === false) return ['Adres jest niepoprawny']
    //   if (this.emailVal === false) return ['Podany adres e-mail jest juz zajęty!']
    // }
  },
  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/api/register')
      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/api/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>

<style  scoped>
.Register{
  width: 100%;
  height: 100%;
  display: flex;

}
.RegisterInContainer{
  height: fit-content;
  margin: 60px auto;
  width: 500px;
  background: #4a4a4a;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 29px -5px rgba(0,0,0,0.75);
}

.RegisterForm{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 25px 0;
}
.btn{
  margin-bottom: 25px;
}
h1{
  text-align: center;
}
#realbutton{
  display: none;
}
.form-control{
  background-color: transparent!important;
  border:none;
  border-radius: none;
  height: fit-content;
}
.help-block{
  position: relative;
  bottom: 30px;
}
.was-validated .form-control:invalid, .form-control.is-invalid{
  background: none;
  padding-right: 0;
}
</style>
